@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #373737;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 1.2;
}
h2{
    font-size: 40px;
}
hr{
    margin-bottom: 15px;
}
.link-btn{
    display: inline-block;
    text-decoration: none;
    color: #373737;
    background: greenyellow;
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: 700;
    margin: 5px 0;
    transition: 0.3s;
}
.link-btn:hover{
    background: #000;
    color: greenyellow;
}
.grn{
    color: greenyellow;
}
.bdr{
    border: 1px solid red;
}


/* banner section start here --------------------------------------------------- */
.banner{
    display: flex;
    min-height: 90vh;
    background-image: linear-gradient(0deg ,  #373737 40%, #09b6fa65), url('img/gray-abstract-wireframe-technology-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    color: ;
}
.banner-content{
    width: 50%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
}
.banner-img img{
    width: 70%;
    /* background: #000; */
    
}
.banner-img::after{
    content: '';
    position: absolute;
    height: 60%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #373737, #00000000);
}
/* banner sectoion end here ============================================ */


/* about section start here ============================================ */
.about{
    display: flex;
    padding: 2% 5%;
}
.about-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.about-img img{
    width: 60%;
}
.about-content{
    width: 50%;
    display: flex;
    align-items: center;
}
/* about section end here ============================================= */


/* experience section start here======================================= */
.experience{
    padding: 2% 5%;
}
.experience-content{
    display: flex;
}
.experience-content div{
    width: 50%;
    /* border: 1px solid; */
    padding: 3%;
    margin: 3%;
    background: #ffffff1f;
    box-shadow: #fafafa77 6px 6px 10px, inset #ffffff1f 1px 1px 4px;
    border-radius: 15px;
}
.exp-1{
    border-left: 8px solid rgb(0, 132, 255);
}
.exp-2{
    border-left: 8px solid greenyellow;
}